.new {
    float: right;
    margin-bottom: 1.5em;
    background: #83bf02;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: 600;
    color: #fff;
    transition: all .3s ease-in-out;
}

.new svg {
    margin-right: 5px;
}

.new:hover {
    background: #5fb204;
    transform: scale(1.1);
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard span {
    margin: 2em 0;
    font-size: 1.3em;
    font-weight: 600;
}

table {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .62em;
    text-align: center;
}

table td {
    font-size: 1.2em;
}

table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table td .action {
    border: 0;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
}

table td .action svg {
    vertical-align: middle;
}

table td .badge {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .6em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}