.container {
    display: flex;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 0.8em;
    align-items: center;
    margin-bottom: 1em;
}

.label-avatar {
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.label-avatar input {
    display: none;
}

.label-avatar span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all .5s;
}

.label-avatar span:hover {
    opacity: 1;
    transform: scale(1.4);
}

.form img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.form-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-profile label {
    margin-bottom: 0.5em;
    font-size: 1.4em;
}


.form-profile input,
textarea,
select {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
    margin: 8px 10px;
}

.form-profile input:disabled {
    cursor: not-allowed;
    border: 1px solid #181c2e;
    background: #d6d5d59f;
}

.form-profile button {
    max-width: 600px;
    margin-top: 20px;
}

.logout-btn {
    margin: auto;
    padding: 8px 20px;
    border: 1px solid rgb(146, 40, 40);
    color: #f00;
    font-weight: bold;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 5px;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    transition: .5s;
}

.logout-btn:hover {
    transform: scale(1.08);
    background: rgba(179, 6, 6, 0.822);
    color: #fff;
}